*{
      margin: 0;
      padding: 0;
}

body{
    background-color: #cd5c5c;
}
ul{
    width: 187px;
    list-style: none;
}
a.boton{
    width: 187px;
    height: 32px;
    background-color: blueviolet;
    border-radius: 10px;
    margin: 8px;
    padding-top: 15px;
    text-align: center;
    color: white;
    text-decoration: none;
    float: left;
    transition: all 1s;
}
.boton:hover{
    background-color: #aa7ed4;
    color: black;
    text-transform: lowercase;
    opacity: 0.8;
}
.boton:active{
    transform: scale(.95);
}
